# Assignment 5.1 Solution (Feature Transformation)

# Techniques to perform Feature Transformation:

1. Normalization <br>
2. Standardization <br>
3. Log Transformation <br>
4. Robust Scaler <br>
5. Max Absolute Scaler

# Step 1: Using Scikit-Learn Module

In [1]:
x = [110,105,115,120,110,130,150,100,105]

import pandas as pd

df = pd.DataFrame(x,columns = ['price'])
df

   price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

# 1. Normalization / Min Max Scaler using sklearn

In [2]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()

In [3]:
norm = mms.fit_transform(df[['price']])
norm

array([[0.2],
       [0.1],
       [0.3],
       [0.4],
       [0.2],
       [0.6],
       [1. ],
       [0. ],
       [0.1]])

In [4]:
df['price_norm_sklearn'] = norm
df

   price  price_norm_sklearn
0    110                 0.2
1    105                 0.1
2    115                 0.3
3    120                 0.4
4    110                 0.2
5    130                 0.6
6    150                 1.0
7    100                 0.0
8    105                 0.1

# 2. Standardization / Standard Scaler using sklearn

In [5]:
from sklearn.preprocessing import StandardScaler 
ss = StandardScaler()

In [6]:
df['price_std_sklearn'] = ss.fit_transform(df[['price']])
df

   price  price_norm_sklearn  price_std_sklearn
0    110                 0.2          -0.416356
1    105                 0.1          -0.757011
2    115                 0.3          -0.075701
3    120                 0.4           0.264954
4    110                 0.2          -0.416356
5    130                 0.6           0.946264
6    150                 1.0           2.308884
7    100                 0.0          -1.097666
8    105                 0.1          -0.757011

# 3. Log Transformation using sklearn

In [7]:
import numpy as np

from sklearn.preprocessing import FunctionTransformer
fc = FunctionTransformer()

In [8]:
fc = FunctionTransformer(np.log1p)
df['price_log_sklearn'] = fc.fit_transform(df[['price']])

In [9]:
df

   price  price_norm_sklearn  price_std_sklearn  price_log_sklearn
0    110                 0.2          -0.416356           4.709530
1    105                 0.1          -0.757011           4.663439
2    115                 0.3          -0.075701           4.753590
3    120                 0.4           0.264954           4.795791
4    110                 0.2          -0.416356           4.709530
5    130                 0.6           0.946264           4.875197
6    150                 1.0           2.308884           5.017280
7    100                 0.0          -1.097666           4.615121
8    105                 0.1          -0.757011           4.663439

# 4. Robust Scaler using sklearn

In [10]:
from sklearn.preprocessing import RobustScaler 
RoSc=RobustScaler()

In [11]:
df['price_RoSc_sklearn'] = RoSc.fit_transform(df[['price']])
df

,price,price_norm_sklearn,price_std_sklearn,price_log_sklearn,price_RoSc_sklearn
0,110,0.2,-0.416356,4.709530,0.000000
1,105,0.1,-0.757011,4.663439,-0.333333
2,115,0.3,-0.075701,4.753590,0.333333
3,120,0.4,0.264954,4.795791,0.666667
4,110,0.2,-0.416356,4.709530,0.000000
5,130,0.6,0.946264,4.875197,1.333333
6,150,1.0,2.308884,5.017280,2.666667
7,100,0.0,-1.097666,4.615121,-0.666667
8,105,0.1,-0.757011,4.663439,-0.333333

# 5. Max Absolute Scaler using sklearn

In [12]:
from sklearn.preprocessing import MaxAbsScaler
mx = MaxAbsScaler()

In [13]:
df['price_maxAbs_sklearn'] = mx.fit_transform(df[['price']])

df

,price,price_norm_sklearn,price_std_sklearn,price_log_sklearn,price_RoSc_sklearn,price_maxAbs_sklearn
0,110,0.2,-0.416356,4.709530,0.000000,0.733333
1,105,0.1,-0.757011,4.663439,-0.333333,0.700000
2,115,0.3,-0.075701,4.753590,0.333333,0.766667
3,120,0.4,0.264954,4.795791,0.666667,0.800000
4,110,0.2,-0.416356,4.709530,0.000000,0.733333
5,130,0.6,0.946264,4.875197,1.333333,0.866667
6,150,1.0,2.308884,5.017280,2.666667,1.000000
7,100,0.0,-1.097666,4.615121,-0.666667,0.666667
8,105,0.1,-0.757011,4.663439,-0.333333,0.700000

# Step 2: Using Python Manually

In [14]:
import pandas as pd
import numpy as np

df2 = pd.read_excel('E:\\Machine Learning Course\\Assignments\\Assignment 5 (data).xlsx')
df2.head(3)

   price
0    110
1    105
2    115

# 1. Normalization / Min Max Scaler using Python Manually

In [15]:
x = df2.price

In [16]:
df2['price_norm_manual'] = (x-min(x))/(max(x)-min(x))
df2

   price  price_norm_manual
0    110                0.2
1    105                0.1
2    115                0.3
3    120                0.4
4    110                0.2
5    130                0.6
6    150                1.0
7    100                0.0
8    105                0.1

# 2. Standardization / Standard Scaler using Python Manually

In [17]:
df2['cost_std_manual'] = (x-x.mean())/x.std(ddof=0)

In [18]:
df2

   price  price_norm_manual  cost_std_manual
0    110                0.2        -0.416356
1    105                0.1        -0.757011
2    115                0.3        -0.075701
3    120                0.4         0.264954
4    110                0.2        -0.416356
5    130                0.6         0.946264
6    150                1.0         2.308884
7    100                0.0        -1.097666
8    105                0.1        -0.757011

# 3. Log Transformation using Python Manually

In [19]:
df2['price_log_manual'] = np.log1p(x)
df2

   price  price_norm_manual  cost_std_manual  price_log_manual
0    110                0.2        -0.416356          4.709530
1    105                0.1        -0.757011          4.663439
2    115                0.3        -0.075701          4.753590
3    120                0.4         0.264954          4.795791
4    110                0.2        -0.416356          4.709530
5    130                0.6         0.946264          4.875197
6    150                1.0         2.308884          5.017280
7    100                0.0        -1.097666          4.615121
8    105                0.1        -0.757011          4.663439

# 4. Robust Scaler using Python manually

In [20]:
df2['price_RoSc_manual'] = (x-np.median(x))/(np.percentile(x,75) - np.percentile(x,25))

In [21]:
df2

,price,price_norm_manual,cost_std_manual,price_log_manual,price_RoSc_manual
0,110,0.2,-0.416356,4.709530,0.000000
1,105,0.1,-0.757011,4.663439,-0.333333
2,115,0.3,-0.075701,4.753590,0.333333
3,120,0.4,0.264954,4.795791,0.666667
4,110,0.2,-0.416356,4.709530,0.000000
5,130,0.6,0.946264,4.875197,1.333333
6,150,1.0,2.308884,5.017280,2.666667
7,100,0.0,-1.097666,4.615121,-0.666667
8,105,0.1,-0.757011,4.663439,-0.333333

# 5. Max Absolute Scaler using Python Manually

In [22]:
df2['price_maxAbs_manual'] = x/max(x)

# Feature Transformation using Scikit-Learn Module

In [23]:
df

,price,price_norm_sklearn,price_std_sklearn,price_log_sklearn,price_RoSc_sklearn,price_maxAbs_sklearn
0,110,0.2,-0.416356,4.709530,0.000000,0.733333
1,105,0.1,-0.757011,4.663439,-0.333333,0.700000
2,115,0.3,-0.075701,4.753590,0.333333,0.766667
3,120,0.4,0.264954,4.795791,0.666667,0.800000
4,110,0.2,-0.416356,4.709530,0.000000,0.733333
5,130,0.6,0.946264,4.875197,1.333333,0.866667
6,150,1.0,2.308884,5.017280,2.666667,1.000000
7,100,0.0,-1.097666,4.615121,-0.666667,0.666667
8,105,0.1,-0.757011,4.663439,-0.333333,0.700000

# Feature Transformation using Python Manually

In [24]:
df2

,price,price_norm_manual,cost_std_manual,price_log_manual,price_RoSc_manual,price_maxAbs_manual
0,110,0.2,-0.416356,4.709530,0.000000,0.733333
1,105,0.1,-0.757011,4.663439,-0.333333,0.700000
2,115,0.3,-0.075701,4.753590,0.333333,0.766667
3,120,0.4,0.264954,4.795791,0.666667,0.800000
4,110,0.2,-0.416356,4.709530,0.000000,0.733333
5,130,0.6,0.946264,4.875197,1.333333,0.866667
6,150,1.0,2.308884,5.017280,2.666667,1.000000
7,100,0.0,-1.097666,4.615121,-0.666667,0.666667
8,105,0.1,-0.757011,4.663439,-0.333333,0.700000